# Hipster Ipsum

I'm baby chillwave iceland keytar, bespoke leggings cloud bread hashtag tattooed +1 lyft plaid live-edge beard street art truffaut.

In [1]:
import numpy as np
import pandas as pd

Palo santo green juice shoreditch photo booth affogato slow-carb hashtag tumeric migas chicharrones XOXO prism everyday carry. Gochujang pabst affogato, selvage neutra VHS ramps cloud bread kinfolk tbh etsy palo santo bushwick.

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(10, 10)), columns=list('ABCDEFHIJK'))
df

    A   B   C   D   E   F   H   I   J   K
0  64  50  70  83  68  81  49  44   2  85
1   9  63   0  57  59  85  58  35  39  76
2  89  11  94  11   6  87  81  53  90  48
3  96  68   9  27  50  50  39  77   9  73
4  39  12  17  35  82  78  41  67  75  50
5  35  51  36   7  65  25  51  59  69  61
6  70  29   7  15  87  18   2  11  76  19
7  79  88   2  33  29  63  74  76  88  56
8  52  93  38  30  16  58  55  56  60  96
9  39  74  23  94  96  16  44  19  89  68